---
import { Image } from "astro:assets";

type Props = {
    config: HomeConfig
    imagery: HomeImagery
};

const { config, imagery } = Astro.props;
---
<div class="relative flex flex-col h-full">
    {imagery.coverImages.map((img, i) => (
        <Image id={`coverImage-${i}`} src={img.src} alt={img.alt} densities={[2]} inferSize class="hidden absolute top-0 left-0 h-full object-cover z-10"/>
    ))}
    <div id="image-gradient" class="flex-auto z-20"></div>
    <div class="flex flex-col md:flex-row gap-8 items-center md:justify-between flex-none w-full bg-theme-primary text-white z-20 p-5">
        <div class="flex items-center gap-4 xl:gap-8">
            <a href={imagery.banner.main.href} target="_blank" class="flex-shrink-0 hidden md:block"><Image alt={imagery.banner.main.alt} src={imagery.banner.main.src} densities={[2]} height={150} width={150} class="h-20 w-20 xl:w-28 xl:h-28 hidden md:block" /></a>
            <div class="flex flex-col flex-auto gap-3 text-center md:text-left">
                <div class="text-2xl xl:text-3xl font-semibold">{config.eventName}</div>
                <div class="text-base xl:text-lg" set:html={config.eventDescription}></div>
            </div>
        </div>
        <div class="flex flex-none gap-3">
            <a href={imagery.banner.main.href} target="_blank" class="flex-shrink-0 md:hidden"><Image alt={imagery.banner.main.alt} src={imagery.banner.main.src} densities={[2]} height={150} width={150} class="h-20 w-20 xl:w-28 xl:h-28 "/></a>
            {imagery.banner.host.map((img) => (
                <a href={img.href} target="_blank" class="flex-shrink-0"><Image alt={img.alt} src={img.src} densities={[2]} height={150} width={150} class="h-20 w-20 xl:w-28 xl:h-28 "/></a>
            ))}
        </div>
    </div>
</div>
<style>
    #image-gradient {
        background: linear-gradient(0deg, rgba(0,0,0,0.5) 0%, rgba(255,255,255,0) 100%);
    }
</style>
<script>
    let imgToLoad = 'coverImage-0';

    // If there are two cover images, switch between them 50/50
    if (document.getElementById('coverImage-1')) {
        imgToLoad = Date.now() % 2 == 0 ? 'coverImage-1' : 'coverImage-0';
    } 

    document.getElementById(imgToLoad)?.classList.remove('hidden');
</script>
